body {
  background-color: whitesmoke;
  padding: 50px;
  color: black;
}

h1, h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

form {
  background: white;
  padding: 25px;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 12px;
  border: 1px solid darkgrey;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  padding: 12px ;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: skyblue;
}

table {
  width: 100%;
  margin-top: 30px;
  background-color: white;
}

th, td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid paleturquoise;
  font-size: 20px;
}

th {
  background-color: lightblue;
  color: darkblue;
  font-weight: bold;
}

tr:hover {
  background-color: whitesmoke;
}

button {
  margin-right: 10px;
}
